asn1crypto==1.5.1
autocommand==2.2.2
bcrypt==4.2.0
blinker==1.9.0
Brlapi==0.8.6
certifi==2025.1.31
cryptography==43.0.0
dbus-python==1.4.0
distro==1.9.0
fuse-python==1.0.9
gyp-next==0.16.2
html5lib-modern==1.2
httplib2==0.22.0
inflect==7.3.1
jaraco.context==6.0.1
jaraco.functools==4.1.0
kali-tweaks==2023.3.2
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lightdm-gtk-greeter-settings==1.2.3
louis==3.33.0
mechanize==0.4.10
more-itertools==10.7.0
netifaces==0.11.0
oauthlib==3.2.2
onboard==1.4.1
packaging==25.0
pexpect==4.9.0
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pycairo==1.27.0
PyGObject==3.50.0
PyJWT==2.10.1
pylibacl==0.7.2
pyparsing==3.1.2
PyQt5==5.15.11
PyQt5_sip==12.17.0
python-apt==3.0.0
pyxattr==0.8.1
pyxdg==0.28
sentry-sdk==2.18.0
tornado==6.4.2
typeguard==4.4.2
typing_extensions==4.13.2
urllib3==2.3.0
wadllib==2.0.0
webencodings==0.5.1
wheel==0.46.1
xdg==5
